.logoWrapper {
  display: flex;
}

.logoList {
  margin: 0 0 0 10.77px;
}

.logoTitle {
  font-family: Quicksand, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.2px;
}

.logoItem {
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
}
