.containerWrapper {
  padding: 0 25px;
  margin: 0 auto;
  max-width: 1440px;
}

.container {
  padding: 41px 0 40px 0;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
