.button {
  color: var(--background-color);
  font-family: Quicksand, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.12px;

  padding: 10px 35px;

  border-radius: 24px;
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 8px 0px rgba(55, 125, 255, 0.5);
}

.buttonReverse {
  color: var(--accent-color);

  font-family: Quicksand, sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.12px;

  padding: 10px 35px;
  border-radius: 24px;

  background-color: var(--background-color);
  border: 0.7px solid var(--accent-color);
}

.button:hover,
.button:focus {
  color: var(--accent-color);
  background-color: var(--background-color);
}

.buttonReverse:hover,
.buttonReverse:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
}
@media screen and (min-width: 1440px) {
  .button,
  .buttonReverse {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.16px;

    padding: 12px 50px;
  }
}
