.container {
  padding: 23px 0;

  position: relative;
}
.container::before {
  position: absolute;
  top: 0px;
  right: -31px;
  content: "";

  width: 16px;
  height: 16px;

  background: linear-gradient(180deg, #ff8e8e 0%, #f62424 100%);
  border-radius: 50%;
  filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.05));
}

.container::after {
  position: absolute;
  bottom: 19px;
  left: -29px;
  content: "";

  width: 16px;
  height: 16px;

  background: linear-gradient(180deg, rgba(68, 133, 255, 0.8) 0%, #377dff 100%);
  border-radius: 50%;
  filter: drop-shadow(0px 3px 20px rgba(0, 0, 0, 0.05));
}

.title {
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.28px;
  padding: 6px 0 10px 0;
  margin: 0;
}

.titlePart {
  padding: 0px 0 0 8px;
}

.text {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.14px;
  padding: 11px 0 10px 6px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  padding: 10px 0px 9px 7px;
}

@media screen and (min-width: 1440px) {
.title {
  font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.64px;
}
.text{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.50;
    letter-spacing: 0.2px;
}
}