.list {
  padding: 23px 0;

  width: 262px;

  margin: 0 auto;
}

.itemWrapper {
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.1);
  z-index: -1;
  margin: 35px 0 0 0;

  height: 269px;
}

.item {
  padding: 35px 70px 59px 70px;
}
.itemWrapper:first-child {
  margin: 0;
}

.iconWrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.icon {
  z-index: 3;
}

.dotBlue {
  position: relative;

  content: "";

  width: 100px;
  height: 100px;

  background: var(--accent-color);
  border-radius: 50%;
}

.dotBlue:after {
  position: absolute;
  top: 29px;
  left: 30px;
  content: "";
  background-image: url("../../images/icons/monitor.svg");

  width: 42px;
  height: 42px;
  z-index: 1;
}

.dotRed {
position: relative;
  content: "";

  width: 100px;
  height: 100px;

  background: var(--icon-color);
  border-radius: 50%;
  z-index: 1;
}

.dotRed:after {
  position: absolute;
  top: 29px;
  left: 30px;
  content: "";
  background-image: url("../../images/icons/settings.svg");

  width: 42px;
  height: 42px;
  z-index: 1;
}

.dotGreen {
position: relative;
  content: "";

  width: 100px;
  height: 100px;

  background: var(--secondary-icon-color);
  border-radius: 50%;
  z-index: 1;
}

.dotGreen:after {
  position: absolute;
  top: 29px;
  left: 30px;
  content: "";
  background-image: url("../../images/icons/pen-tool.svg");

  width: 42px;
  height: 42px;
  z-index: 1;
}

.dotOrange {
position: relative;
  content: "";

  width: 100px;
  height: 100px;

  background: var(--third-icon-color);
  border-radius: 50%;
  z-index: 1;
}

.dotOrange:after {
  position: absolute;
  top: 29px;
  left: 30px;
  content: "";
  background-image: url("../../images/icons/tv.svg");

  width: 42px;
  height: 42px;
  z-index: 1;
}

.text {
  text-align: center;
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.16px;

  margin: 27px 0 0 0;
}
