@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&family=Quicksand:wght@400;600;700&display=swap");

:root {
  --primary-text-color: #1d1d1d;
  --secondary-text-color: #464646;
  --background-color: #ffffff;

  --accent-color: #377dff;

  --icon-color: #ff2d2d;
  --secondary-icon-color: #7ce761;
  --third-icon-color: #ffa800;
  --social-color: #383638;
  --primary-gradient: rgba(68, 133, 255, 0.8), rgba(55, 125, 255, 1);
  --secondary-gradient: rgba(255, 142, 142, 1), rgba(246, 36, 36, 1);
  /* #EB00FF */
  /* #FF5C00 */
  /* #000000 */

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}
